doctype html
html
  head
    link(rel="stylesheet" href="style.css")
  body
    h1 円に添って回転する文字
    svg.svg1(x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100")
      defs
        path#path1(d="M 10 50 A 1,1 0 0 1 90,50")
      text.text1(x="0" y="100" style="fill:red;")
        textPath(xlink:href="#path1") nekobato.net
